/* Body web */
#web-body-movies {
    width: 100%;
    display: flex;
    margin-top: 60px;
    color: var(--bg-color);
    background-color: #282525;
    padding: 0px 10%;
    position: relative
}

#web-body-movies i {
    color: var(--bg-color);
}

/* movies */
.web-movies {
    width: 100%;
    padding: 1% 0px;
}

.web-movies .movies-title {
    margin-bottom: 10px;
    font-size: 30px;
    position: relative;
    display: flex;
    /* display: flex;
    justify-content: space-between; */
}

.web-movies .movies-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.web-movies .movies-title span {
    text-align: center;
    min-width: 200px;
    height: 50px;
    background-color: #282525;
    z-index: 1;
    display: block;
    margin: auto;
    position: relative;
    padding: 0px 20px;
}

/* .web-movies .movies-title a {
    font-size: 30px;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
} */

.movies {
    padding: 0px
}

.body-card {
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.5s all;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2)
}


.card-img {
    width: 100%;
    aspect-ratio: 2/3;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    color: var(--text-color);
    gap: 0.2rem;
}

.content-main {
    height: 50px;
}

.content-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.content-name:hover {
    color: hsl(57, 97%, 45%);
}

.content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-info .content-year {
    display: block;
}

.content-info span {
    font-size: 14px;
}

.content-info .icon {
    color: hsl(57, 97%, 45%);
    font-size: 10px;
}

.content-runtime,
.content-vote {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    gap: 5px;
    font-size: 12px;
}

.body-card:hover .card-overview {
    height: 250px;
}

.card-overview p {
    overflow-y: auto;
}

.all_button_pages {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.all_button_pages i {
    color: rgba(0, 0, 0, 0.6);
}

.change-pages button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid #eee;
}

.change-pages {
    display: flex;
}

.change-pages .page {
    margin: 0px 5px;
}

.number-pages {
    display: flex;
    gap: 5px;
}

.hidden_button {
    display: none;
}

.active_button {
    background-color: var(--main-color) !important;
}

/* Function */
.web-function {
    width: 25%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    margin: 50px 20px 0px 0px;
    height: 1250px;
    transition: all ease-in-out 0.5s;
}

.web-function .function-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.web-function .function-title {
    display: flex;
    gap: 20px;
    align-items: center;
    border-left: 4px solid var(--main-color);
    padding-left: 10px;
}
.web-function .function-title h5{
    font-size: 24px;
    line-height: 24px;
}

.web-function .select-form {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0px;
}

.web-function .filter-title {
    font-size: 22px;
}

/* Checkbox-title */
.container-checkbox {
    display: block;
    position: relative;
    font-size: 20px;
    user-select: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(216, 216, 216, 0.603);
}

.line {
    width: calc(100% - 8px);
    height: 3px;
    left: 4px;
    background: rgb(58, 58, 58);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .7s transform cubic-bezier(0, 1, .33, 1.2)
}

.line-indicator {
    transform: translateY(-50%) rotate(-90deg);
}

.container-checkbox input:checked~.line-indicator {
    transform: translateY(-50%);
}

/* Checkbox-items */

.checkbox-round {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: var(--main-color);
}

.container-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Select function */

.sort-function {
    height: 30px;
}

.button-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.button-filter div {
    color: var(--text-color);
    cursor: pointer;
}

.button-filter .filter-perform {
    padding: 5px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
}

.button-filter .filter-remove {
    color: #febb00;
}

.button-filter .icon {
    margin-right: 5px;
}

.filter-responsive {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: var(--main-color);
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 200px;
    display: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.filter-responsive span {
    font-size: 15px;
    margin: auto;
}

.active-filter {
    left: 0px !important;
}

.active-filter-button {
    left: 250px
}

/* Responsive */
@media (max-width: 800px) {
    #web-body-movies {
        padding: 0px 5%;
    }

}

@media (max-width: 880px) and (min-width: 768px) {
    .content-main {
        height: 30px;
    }

    .content-name {
        font-size: 12px;
    }

    .content-info span {
        font-size: 10px;
    }
}

@media (max-width: 680px) {
    .web-function {
        position: fixed;
        width: 250px;
        background: gray;
        top: 0;
        bottom: 0;
        height: auto;
        left: -250px;
        overflow-y: scroll;
        z-index: 9999;
        margin-top: 60px;
    }

    .filter-responsive {
        display: flex;
    }
}

@media (max-width: 680px) and (min-width: 500px) {
    .content-name {
        font-size: 16px;
    }

    .content-info span {
        font-size: 10px;
    }

    .content-info .icon {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .content-name {
        font-size: 12px;
    }


    .content-info span {
        font-size: 9px;
    }

    .content-info .icon {
        font-size: 9px;
    }

    .content-main {
        height: 30px;
    }
}