/* Body web */
#web-body-movies {
    width: 100%;
    display: flex;
    margin-top: 60px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: 0px 10%;
    position: relative;
}

#web-body-movies i {
    color: var(--bg-color);
}

/* movies */
.web-movies {
    width: 100%;
    padding: 0px 0px;
}
.movies-body-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 20px 0px;
}
.web-movies .movies-title span {
    z-index: 1;
    display: block;
    margin: auto;
    font-size: 30px;
    padding-right: 40px;
    border-bottom: 4px solid var(--main-color);
}

/* Movie selection */
.movies-selection {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.movies-selection .filter {
    width: auto !important;
    font-size: 14px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
}
.button-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.button-filter div {
    color: var(--text-color);
    cursor: pointer;
}

.button-filter .filter-perform {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.button-filter .filter-remove {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--main-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.button-filter .icon {
    margin-right: 5px;
}

.movies {
    padding: 0px;
}

.body-card {
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.5s all;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    aspect-ratio: 2/3;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    color: var(--text-color);
    gap: 0.2rem;
}

.content-main {
    height: 50px;
}

.content-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}

.content-name:hover {
    color: hsl(57, 97%, 45%);
}

.content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-info .content-year {
    display: block;
}

.content-info span {
    font-size: 14px;
}

.content-info .icon {
    color: hsl(57, 97%, 45%);
    font-size: 10px;
}

.content-runtime,
.content-vote {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    gap: 5px;
    font-size: 12px;
}

.body-card:hover .card-overview {
    height: 250px;
}

.card-overview p {
    overflow-y: auto;
}

.all_button_pages {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 20px 0px;
}

.all_button_pages i {
    color: rgba(0, 0, 0, 0.6);
}

.change-pages button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid #eee;
}

.change-pages {
    display: flex;
}

.change-pages .page {
    margin: 0px 5px;
}

.number-pages {
    display: flex;
    gap: 5px;
}

.hidden_button {
    display: none;
}

.active_button {
    background-color: var(--main-color) !important;
}

/* Responsive */
@media (max-width: 1000px) {
    .movies-body-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .web-movies .movies-title span {
        padding: 0px;
    }
}
@media (max-width: 800px) {
    #web-body-movies {
        padding: 0px 5%;
    }
}

@media (max-width: 880px) and (min-width: 768px) {
    .content-main {
        height: 30px;
    }

    .content-name {
        font-size: 12px;
    }

    .content-info span {
        font-size: 10px;
    }
}

@media (max-width: 720px) {
    .web-filter {
        position: fixed;
        width: 250px;
        background: gray;
        top: 0;
        bottom: 0;
        height: auto;
        left: -250px;
        overflow-y: scroll;
        z-index: 9999;
        margin-top: 60px;
    }
    .filter-responsive {
        display: flex;
    }
}

@media (max-width: 680px) and (min-width: 500px) {
    .content-name {
        font-size: 16px;
    }

    .content-info span {
        font-size: 10px;
    }

    .content-info .icon {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .movies-selection {
        justify-content: start;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .content-name {
        font-size: 12px;
    }

    .content-info span {
        font-size: 9px;
    }

    .content-info .icon {
        font-size: 9px;
    }

    .content-main {
        height: 30px;
    }
}
